name: Build Chrome Extension

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'
        
    - name: Get version from tag or use default
      id: get_version
      run: |
        if [[ $GITHUB_REF_TYPE == 'tag' && $GITHUB_REF_NAME == v* ]]; then
          echo "VERSION=${GITHUB_REF_NAME}" >> $GITHUB_ENV
          echo "RELEASE_TYPE=production" >> $GITHUB_ENV
        else
          echo "VERSION=$(date +'%Y%m%d-%H%M%S')" >> $GITHUB_ENV
          echo "RELEASE_TYPE=prerelease" >> $GITHUB_ENV
        fi
        
    - name: Pack extension to ZIP
      id: pack
      uses: cardinalby/webext-buildtools-pack-extension-dir-action@v1
      with:
        extensionDir: '.'
        zipFilePath: 'exten-git-${{ env.VERSION }}.zip'
        exclude: |
          .git
          .github
          node_modules
          dist

    - name: Generate CRX
      uses: cardinalby/webext-buildtools-chrome-crx-action@v2
      with:
        zipFilePath: ${{ steps.pack.outputs.zipFilePath }}
        crxFilePath: 'exten-git-${{ env.VERSION }}.crx'
        privateKey: ${{ secrets.CRXPEM }}
      
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: exten-git-packages
        path: |
          exten-git-*.zip
          exten-git-*.crx
        
    - name: Create Release
      if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch'
      uses: softprops/action-gh-release@v1
      with:
        files: |
          exten-git-*.zip
          exten-git-*.crx
        draft: false
        prerelease: ${{ env.RELEASE_TYPE == 'prerelease' }}